# Public site GA4
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX

# Server-side Google Analytics API configuration
GA4_PROPERTY_ID=XXXXXXXXX
GOOGLE_CLIENT_EMAIL=service-account-email@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
